<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生詳細情報</title>
</head>
<body>
<h1>受講生詳細</h1>
<form th:action="@{/studentInformation/{id}}" th:object="${studentDetail}" method="post">
  <div>
    <input type="hidden" th:field="*{id}"/>
  </div>


  <div>
    <label for="name">名前:</label>
    <input type="text" id="name" th:field="*{student.name}" required/>
  </div>
  <div>
    <label for="hurigana">ふりがな:</label>
    <input type="text" id="hurigana" th:field="*{student.hurigana}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required/>
  </div>
  <div>
    <label for="address">メールアドレス:</label>
    <input type="text" id="address" th:field="*{student.address}" required/>
  </div>
  <div>
    <label for="area">居住地域（都道府県市区町村まで）:</label>
    <input type="text" id="area" th:field="*{student.area}" required/>
  </div>
  <div>
    <label for="years">年齢:</label>
    <input type="text" id="years" th:field="*{student.years}" required/>
  </div>
  <select id="gender" th:field="*{student.gender}">
    <option value="男性">男性</option>
    <option value="女性">女性</option>
    <option value="その他">その他</option>
  </select>
  <div>
    <label for="remark">備考欄（あれば書くように）:</label>
    <input type="text" id="remark" th:field="*{student.remark}"/>
  </div>
  <div th:each="course, stat:*{studentsCourses}">
    <label for="courses"
           th:for="*{studentsCourses[__${stat.index}__].courses}">受講コース名:</label>
    <input type="text" id="courses" th:id="studentCourse.__${stat.index}__.courseName"
           th:field="*{studentsCourses[__${stat.index}__].courses}"/>
  </div>
  <div>
    <button type="submit">更新</button>
  </div>
</form>
</body>
</html>